<section id="prayer-section">
  <div class="grid-layout">

    <div class="side-bar">

      <div class="dialog-container">
        <button mat-raised-button color="warn" (click)="openDialog()">Add Prayer</button>
      </div>

      <div style="margin: 30px 0px;">
        <form [formGroup]="searchForm" (ngSubmit)="searchFor()">
         <div class="searchbar">
           <fa-icon [icon]="search" class="search-icon" (click)="searchFor()"></fa-icon>
           <input type="text" placeholder="Search by" formControlName="searchQuery">
           <select name="searchOptions" id="" formControlName="criterion">
             <option value="name">Name</option>
             <option value="date">Date</option>
             <option value="prayerRequest">Request</option>
           </select>
         </div>
        </form>
       </div>

    </div>

    <div class="main-bar">
      <div *ngFor="let prayer of prayerRecords " class="repeater">
        <div class="prayer-card-container">
          <div class="card-heading">
            <img src="assets/banner-imgs/cropped-ocoj.png" alt="" class="card-img">
            <h4 class="prayer-title">{{prayer.title}}</h4>
            <p class="prayer-date">{{prayer.date | date}}</p>
          </div>
            <div class="card-body">
              <p class="prayer-name">By: {{prayer.name}}</p>
              <p class="prayer-body">{{prayer.prayerRequest}}</p>
            </div>
          <div class="card-footer">

            <div>
              <fa-icon [icon]="praying"
              class="pray" (click)="highlightPrayer(prayer)"
              [ngClass]=" prayer.status === true ? 'on' : '' "
              title="Commit to Prayer"
              >
            </fa-icon>
            </div>

            <div>
              <fa-icon [icon]="edit" (click)="editPrayer(prayer._id)"  class="edit"></fa-icon>
            </div>

            <div>
              <fa-icon [icon]="delete" (click)="deleteRequest(prayer._id)" class="delete"></fa-icon>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
