<section id="prayer-section">
  <div style="margin-top:25px">
    <h1 style="text-align: center;"> Global Prayers</h1>
    <hr class="undercut-2">
  </div>
  <div class="grid-layout">

    <div class="side-bar">

      <div class="dialog-container">
        <div style="width: 100%; display:flex; justify-content:space-around; ">
          <button mat-raised-button color="warn" (click)="openDialog()">Add Prayer</button>

          <button (click)="goToYourPrayers()"
           mat-raised-button color="accent" routerLink="/prayers/all-prayers">
           Go to personal prayers
          </button>
          </div>
      </div>

      <div class="searchbar-cont">
        <form [formGroup]="searchForm" (ngSubmit)="searchFor()">
          <label for="searchQuery">Search By</label>
         <div class="searchbar">
           <fa-icon [icon]="search" class="search-icon" (click)="searchFor()"></fa-icon>
           <input type="text" placeholder="Search by" formControlName="searchQuery" #searchQuery required>
           <select name="searchOptions" id="" formControlName="key" required>
             <option value="name">Name</option>
             <option value="title">Title</option>
             <option value="prayerRequest">Request</option>
           </select>
         </div>
        </form>
       </div>

       <div *ngIf="searchVal">
        <p>Results for search "{{searchQuery.value}}" in category "{{searchVal.key}}" </p>
        {{searchVal.result[0]}}
       <div *ngFor="let searchResult of searchVal.result">
          <div>{{searchResult | json}}</div>
       </div>
       </div>

    </div>

    <div class="main-bar">
      <div *ngFor="let prayer of prayerRecords " class="repeater">
        <div class="prayer-card-container">
          <div class="card-heading">
            <img src="assets/banner-imgs/cropped-ocoj.png" alt="" class="card-img">
            <h4 class="prayer-title">{{prayer.title}}</h4>
            <p class="prayer-date">{{prayer.date | date}}</p>
          </div>
            <div class="card-body">
              <p class="prayer-name">By: {{prayer.name}}</p>
              <p class="prayer-body">{{prayer.prayerRequest}}</p>
            </div>
          <div class="card-footer">

            <div *ngIf="user._id !== prayer.userId">
              <fa-icon [icon]="praying"
              class="pray" (click)="highlightPrayer(prayer._id)"
              [ngClass]=" prayer.status === true ? 'on' : '' "
              title="Commit to Prayer"
              >
            </fa-icon>
            </div>



            <div *ngIf="checkAdmin(prayer.userId)">
              <fa-icon [icon]="edit" (click)="editPrayer(prayer._id)"  class="edit"></fa-icon>
            </div>

            <div *ngIf="checkAdmin(prayer.userId)" >
              <fa-icon [icon]="delete" (click)="deleteRequest(prayer._id)" class="delete"></fa-icon>
            </div>

            <div *ngIf="checkAdmin(prayer.userId)">
              <fa-icon [icon]="more" (click)="openMoreInfo(prayer._id)"></fa-icon>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
