#section-1{
  margin-top: 50px;
  width: 100%;
}

.heading{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.heading > h1
{
  font-size: 32px;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 5px;
}

hr{
  width: 90%;
}

.flex-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-bottom: 100px;
  border-bottom: .1px solid lightgray;
  padding-bottom: 100px;
}

.topic,.scripture{
  width: 45%;
  min-height: 300px;
  display: flex;
  padding: 20px 30px;
  background-color: white;
  border: 1px solid lightgray;
  flex-direction: column;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.295);
}

.divider{
 height: 300px;
 padding: 1px;
 background-image: repeating-linear-gradient(rgba(255, 0, 0, 0.356),rgba(51, 51, 51, 0.432));
}

.title{
 font-family: Comfortaa, sans-serif;
 font-size: 28px;
 font-weight: 800;
}

.small{
  width: 40%;
  margin-bottom: 30px;
}

.body{
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 1.8;
  border: .1px solid lightgrey;
  padding: 3px 4px;
}

.scripture{
  border-radius: 0px 14px 14px 0px;
  padding-top: 50px;
  font-family: Comfortaa, sans-serif;
  font-size : 18px;
}

.ul-flexer{
 display: flex;
 width: 100%;
 flex-wrap: wrap;
 flex-direction: column;
 height: 200px;
}

.ul-flexer li {
  margin-bottom : 10px;
}
