

<section id="section-1">
  <div class="banner-img">
    <div class="overlay">
    </div>
    <div class="circle">
      <div class="banner-text">
        <span>Come let us</span><br>
        <span style="padding-left: 90px;  font-size:14vh;">PRAY</span> <fa-icon [icon]="praying" class="fa-gradient"></fa-icon><br>
        <span>for each other </span><br>

      </div>
    </div>
  </div>
</section>

<div class="btn-cont">

  <a class="btn all-prayers-btn" routerLink="/prayers/all-prayers">
    Global Prayers
  </a>

  <a class="btn your-prayers-btn" (click)="goToYourPrayers()">
    Your prayers
  </a>
</div>

<section id="section-2">

  <div class="grid-cont">
    <div class="two-col-grid-display">

      <div class="image-section">

        <div class="img-obj img-1 border-gradient-orange">
        </div>

      </div>

      <div class="text-section-cont">
        <div class="text-section-heading">
          <h2>Aid Someone in Prayer</h2>
        </div>

        <div style="width:100%; padding:0px 30px;">
          <div class="text-section-body">
              <p>Do you wish to see the deliverance of others. Be apart of the prayer task force from your own home. There are alot of prayer requests that are in need of your labor today!!</p>
          </div>

          <div class="text-btn-cont">
            <div class="text-btn" routerLink="/prayers/all-prayers">
              <div class="inner-btn">
                <fa-icon [icon]="praying"></fa-icon>
                <span class="inner-span">Pray For Someone</span>
              </div>
            </div>
          </div>

          <div class="text-footer"></div>

        </div>

      </div>



    </div>
  </div>


</section>

<section id="section-2">

  <div class="grid-cont">
    <div class="two-col-grid-display">

      <div class="text-section-cont">
        <div class="text-section-heading">
          <h2>Stay Prayed Up!</h2>
        </div>

        <div style="width:100%; padding:0px 30px;">
          <div class="text-section-body">
              <p>Do you wish to see the deliverance of others. Be apart of the prayer task force from your own home. There are alot of prayer requests that are in need of your labor today!!</p>
          </div>

          <div class="text-btn-cont">
            <div class="text-btn" (click)="goToYourPrayers()">
              <div class="inner-btn">
                <fa-icon [icon]="praying"></fa-icon>
                <span class="inner-span">Check Your Prayers</span>
              </div>
            </div>
          </div>

          <div class="text-footer"></div>

        </div>

      </div>

      <div class="image-section">

        <div class="img-obj img-2 border-gradient-orange">
        </div>

      </div>

    </div>
  </div>


</section>

