

<section id="section-1">
  <div class="banner-img">
    <div class="overlay">
    </div>
    <div class="circle">
      <div class="banner-text">
        <span>Come let us</span><br>
        <span style="padding-left: 90px;  font-size:14vh;">PRAY</span> <fa-icon [icon]="praying" class="fa-gradient"></fa-icon><br>
        <span>for each other </span><br>

      </div>
    </div>
  </div>
</section>

<section id="section-2">

  <div class="grid-cont">
    <div class="two-col-grid-display">

      <div class="image-section">

        <div class="img-obj img-1 border-gradient-purple">
        </div>

      </div>

      <div class="text-section-cont">
        <div class="text-section-heading">
          <h2>Aid Someone in Prayer</h2>
        </div>

        <div style="width:100%; padding:0px 30px;">
          <div class="text-section-body">
              <p>Do you wish to see the deliverance of others. Be apart of the prayer task force from your own home. There are alot of prayer requests that are in need of your labor today!!</p>
          </div>

          <div class="text-btn-cont">
            <div class="text-btn" routerLink="/prayers/all-prayers">
              <div class="inner-btn">
                <fa-icon [icon]="praying"></fa-icon>
                <span class="inner-span">Prayers</span>
              </div>
            </div>
          </div>

          <div class="text-footer"></div>

        </div>

      </div>

      <div class="text-section-body" style="border: 10px solid black ; border-radius: 3px;">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, nulla voluptatum sit sequi minima harum quia nisi totam ad soluta sunt in! Mollitia eos unde consequatur. Eligendi reiciendis iusto eos.</p>
      </div>




    </div>
  </div>


</section>

<section id="section-2">

  <div class="grid-cont">
    <div class="two-col-grid-display">

      <div class="text-section-cont">
        <div class="text-section-heading">
          <h2>Aid Someone in Prayer</h2>
        </div>

        <div style="width:100%; padding:0px 30px;">
          <div class="text-section-body">
              <p>Do you wish to see the deliverance of others. Be apart of the prayer task force from your own home. There are alot of prayer requests that are in need of your labor today!!</p>
          </div>

          <div class="text-btn-cont">
            <div class="text-btn" (click)="goToYourPrayers()">
              <div class="inner-btn">
                <fa-icon [icon]="praying"></fa-icon>
                <span class="inner-span">Prayers</span>
              </div>
            </div>
          </div>

          <div class="text-footer"></div>

        </div>

      </div>

      <div class="image-section">

        <div class="img-obj img-2 border-gradient-purple">
        </div>

      </div>

      <div class="text-section-body" style="border: 10px solid black ; border-radius: 3px;">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, nulla voluptatum sit sequi minima harum quia nisi totam ad soluta sunt in! Mollitia eos unde consequatur. Eligendi reiciendis iusto eos.</p>
      </div>


    </div>
  </div>


</section>

