<section id="section-1">
  <div class="part-1">

    <div >
      <h2 class="heading">Welcome to the True Church ! !</h2>
      <hr class="undercut">
    </div>


    <div class="big-text-container">
      <span class="highlight one">OCOJ</span> preaches the undilited word of God without compromise, calling the world to <span class="highlight two" >HOLINESS</span>
    </div>

    <div class="svg-flex-container">
      <div class="hoverer">
      <div class="flex-item">
        <fa-icon [icon]="heart"></fa-icon>
        <p class="text-container">
          We strive to be the church of Philadelphia in the Book of Revelations. This is who we are, come and see !
        </p>
        <button class="card-btn" (click)="goRoute('about')">Learn More</button>
      </div>
      </div>

      <div class="hoverer">
      <div class="flex-item">
        <fa-icon [icon]="bible"></fa-icon>
        <p class="text-container">
          The Word of God is the foundation upon which the body of Christ is built we will not compromise !
        </p>
        <button class="card-btn" (click)="goRoute('truth')" >Learn More</button>
      </div>
      </div>

      <div class="hoverer">
      <div class="flex-item">
        <fa-icon [icon]="praying"></fa-icon>
        <p class="text-container">
          Are you going through hard times? Come and join us in prayer today! Jesus is the way.
        </p>
        <button class="card-btn" (click)="goRoute('prayers')">Learn More</button>
      </div>
      </div>
    </div>
  </div>
</section>

<section id="section-2">
<div class="part-2">
  <div >
    <h2 class="heading">Called to Be An Evangelist ! !</h2>
    <hr class="undercut">
  </div>

  <div class="grid-display">
    <div class="main-img-container">
      <img src="assets/banner-imgs/man-baptism-2.jpg" alt="" class="main-img">
      <div class="overlay-1"></div>
    </div>

    <div  class="sub-img-container">
      <img src="assets/banner-imgs/lady-baptism.jpg" alt="" class="sub-img">
      <div class="overlay-1">

      </div>
    </div>

    <div>
      <div class="grid-text-container">
        <h6 class="heading">Isaiah 58 vs 1 </h6>
        <hr class="undertwo">
        <p class="scripture">"Cry aloud, spare not, lift up thy voice like a trumpet, and shew my people their transgression, and the house of Jacob their sins." KJV</p>
      </div>

    </div>


  </div>

</div>
</section>


