
<div class="body">
<div class="grid-layout">
  <div class="side-bar">
    <div class="dialog-container">
      <div style="width: 100%; display:flex; justify-content:space-around;">
        <button
        mat-raised-button
        (click)="openDialog()"
        >Add User</button>

        <button routerLink="/admin"
         mat-raised-button color="primary">
         Go back to dashboard
        </button>
        </div>
    </div>
    <hr class="undercut-2">

    <div class="sticky-cont">
      <div class="sliding-cont">
        <div class="add-role-form-cont sliding-form off" #addForm >

          <div class="header-bkdrp">
            <header class="heading-cont add-header">
              <h2 class="heading">Add Roles Form
              </h2>
              <span> <fa-icon [icon]="delete" (click)="close('addRole' , addRoleForm)"></fa-icon></span>
            </header>
            <hr class="undercut-2">
          </div>


          <form
          action=""
          name="addRoleForm"
          novalidate
          #addRoleForm="ngForm"
          (ngSubmit)="addRoleForm.form.valid && addRole(addRoleForm)"
          >
            <div class="form-control">
              <div class="roles-cont">
                <div *ngFor="let role of roles">
                  <div *ngIf="role.name != ('user') && role.name != ('anonymous')" class="role-flexer">
                    <label for="{{role.name}}">{{role.name}}</label>
                      <input type="checkbox"
                      name="{{role.name}}"
                      id="{{role.name}}"
                      value="{{role._id}}"
                      [(ngModel)]="role.isSelected">
                  </div>
                </div>

                <div class="btn-cont">
                  <button type="submit">Add Role</button>
                </div>

              </div>
            </div>
          </form>

        </div>
        <div class="cred-form-cont sliding-form off"  #credForm  *ngIf="currentUserRole">
          <div class="header-bkdrp">
            <header class="heading-cont cred-header">
              <h2 class="heading">{{currentUserRole.username | titlecase}}
              </h2>
              <span> <fa-icon [icon]="delete" (click)="close('credForm')"></fa-icon></span>
            </header>
            <hr class="undercut-2">
          </div>


          <div class="roles-cont">

          <div class="form-group">

            <div class="form-control">
              <label for="firstname">First Name</label>
              <p>{{currentUserRole.firstname | titlecase}}</p>
            </div>

            <div class="form-control">
              <label for="lastname">Last Name</label>
              <p>{{currentUserRole.lastname | titlecase}}</p>
            </div>
          </div>

          <hr class="undercut-2">

          <div class="form-control">
            <label for="Email">Email</label>
            <p>{{currentUserRole.email | titlecase}}</p>
            <hr class="undercut-2">
          </div>

          <div class="form-control">
            <label for="user-id">User ID</label>
            <p>{{currentUserRole._id | titlecase}}</p>
            <hr class="undercut-2">
          </div>

          <div class="btn-cont">
            <button (click)="editUser(currentUserRole)"> Edit</button>
            <button (click)="changePassword(currentUserRole)"> Change Password</button>
          </div>

          </div>


        </div>
      </div>
    </div>


  </div>

  <div>
    <div *ngFor="let user of users">
      <div class="user-card"
       *ngIf="user.username !== 'anonymous'"
       [ngStyle]="{
        'backgroundColor':( user._id === currentUserRole._id) ? '#77700007' : 'white',
        'margin-bottom'  :( user._id === currentUserRole._id) ? '30px' : ''
      }"
        >

        <div class="card-title">
          <p class="user-title">User: <span>{{user.username | titlecase}}</span></p>
          <div>
            <div class="btn-display" #rolesDisplay attr.data-roles="{{user._id}}" >
                <div class="hover-trig" *ngFor="let role of user.roles" >
                  <div>
                    <fa-icon
                  [icon]="delete"
                  class="fa-delete"
                  (click)="deleteRole(role._id)"
                   ></fa-icon>
                  </div>

                  <div  class="role {{role.name}}">{{role.name}}</div>
                </div>

            </div>
          </div>
        </div>
        <div class="card-body ">

          <div class="btn-display">
            <div class="hover-trig">
              <div class="role pointer cred" (click)="activateCred(user._id)">See Credientials</div>
            </div>
            <div class="hover-trig">
              <div class="role pointer add"(click)="activateAdd(user._id , $event)">Add Role</div>
            </div>
            <div class="hover-trig">
              <div class="role pointer remove" (click)="activateRemove(user._id , rolesDisplay)">Remove Role</div>
            </div>
            <div class="hover-trig" (click)="deleteUser(user._id)">
              <div class="role pointer delete">Delete User</div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>

</div>
</div>
