<section>

  <div class="btn-cont">

    <a class="btn login-btn" routerLink="/login/login">
        Login here
    </a>

    <a class="btn signup-btn" routerLink="/login/signup">
      Sign up here
    </a>
  </div>

  <section id="login-section">
    <div class="login grid-cont">
      <div class="login-img-cont">
        <div class="login-img">
          <div class="overlay"></div>
        </div>
      </div>
      <div class="login-text-cont">
        <h1 class="big-heading login-heading">
          Join the Fold today!!!
        </h1>
        <p class="text-body login">
          Become a apart of the OCOJ family today by clicking that signup and filling out the membership form.
        </p>
        <p class="text-body login"> We cant wait to sing , pray, and fellowship with you</p>

        <object data="/assets/svgs/left-arrow.svg" width="250" height="250" class="left-arr"> </object>
        <object data="/assets/svgs/left-blob.svg" width="500" height="500" class="left-blob">
           JOIN TODAY
           </object>
      </div>
    </div>
  </section>





</section>
