<p>admin works!</p>


<div class="btn-cont">
    <div class="user btn"> User Management</div>
    <div class="prayer btn">Prayer Management</div>
    
</div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam minima, aliquid saepe minus dolores dolor, quisquam ipsam excepturi consequuntur nemo quod, laborum debitis. Repellendus itaque dolores commodi laudantium ex ratione?
Natus earum dolor nisi temporibus, repudiandae, provident laudantium aspernatur quidem illum, fugit distinctio dignissimos eligendi ullam ipsam dolores alias a ipsa adipisci sed. In aperiam accusantium impedit dicta libero. Itaque.
A facere dolorem nobis, veritatis minus distinctio minima nulla? Nihil quaerat, aliquid rem in reprehenderit dolores officiis magni commodi nemo! Quibusdam vero culpa architecto laborum enim in, beatae veniam animi?</p>
