.two-col-grid-cont{
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  justify-items: center;
}

.m-cont{
  height: 70vh;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}

.btn{
  cursor: pointer;
  font-family: 'Source sans 3' , sans-serif;
  border-radius: 15px;
  font-size: 16px;
  padding: 2px 30px;
  background-image: linear-gradient(60deg, green 0%, orangered 100%);
  color: white;
  margin-top: 10px;
  transition: scale 300ms ease-in;
}

.btn:hover{
  scale: 1.1;
  transition: scale 300ms ease-out;
}
