<div class="navbar-container">
  <nav>
    <ul class="nav-flex">
      <li>
        <a routerLink="/home">
          <img src="assets/banner-imgs/cropped-ocoj.png" alt="" class="nav-logo-img">
        </a>
      </li>
      <li>

        <nav>
          <ul class="nav-flex-2">
            <li><a  routerLink="/prayers"
           >Prayer</a></li>
           <li><a routerLink="/about-us">About Us</a></li>
           <li><a href="">Ministries</a></li>
           <li><a routerLink="/truth">Truth</a></li>


          </ul>
        </nav>
      </li>

      <li>
          <div class="nav-flex-3">
            <fa-icon [icon]="inbox"></fa-icon>
            <div *ngIf="loggedIn == false">
              <a href="/login" > <fa-icon [icon]="signIn"  title="login"></fa-icon> </a>
            </div>


            <div *ngIf="loggedIn == true">
              <span style="display: flex; width:100%; align-items: center; gap: 2rem;">
                <span style="font-size: 1.5em;">
                  <fa-icon  [icon]="profile"></fa-icon>
                  {{user.username}}
                 </span>
                <fa-icon (click)="logOut()" [icon]="signOut"  title="logout"></fa-icon>
              </span>


            </div>

          </div>
      </li>
    </ul>
  </nav>
</div>
