<div class="navbar-container">
  <nav>
    <ul class="nav-flex">
      <li>
        <a routerLink="/home">
          <img src="assets/banner-imgs/cropped-ocoj.png" alt="" class="nav-logo-img">
        </a>
      </li>
      <li>

        <nav>
          <ul class="nav-flex-2">
            <li [routerLinkActive]="['active']" class="nav-link"><a  routerLink="/home"
             >Home</a></li>
            <li [routerLinkActive]="['active']" class="nav-link"><a  routerLink="/prayers"
           >Prayers</a></li>
           <li [routerLinkActive]="['active']" class="nav-link"><a routerLink="/truth">Truth</a></li>

           <li *ngIf="checkAdmin()" [routerLinkActive]="['active']" class="nav-link"><a routerLink="/admin">Admin</a></li>


          </ul>
        </nav>
      </li>

      <li>
          <div class="nav-flex-3">

            <div *ngIf="loggedIn == false">
              <div routerLink="/login" class="nav-link flexer" [routerLinkActive]="['active']">
              <span style="font-size: 1.5em;">Login</span>
              <fa-icon [icon]="signIn"  title="login"></fa-icon>
              </div>

            </div>


            <div *ngIf="loggedIn == true">
              <span style="display: flex; width:100%; align-items: center; gap: 2rem;">
                <span style="font-size: 1.5em;">
                  <fa-icon  [icon]="profile"></fa-icon>
                  {{user.username | titlecase}}
                 </span>

                 <div (click)="logOut()" class="nav-link flexer" [routerLinkActive]="['active']">
                  <span style="font-size: 1.5em;">Logout</span>
                  <fa-icon  [icon]="signOut"  title="logout"></fa-icon>
                 </div>

              </span>


            </div>

          </div>
      </li>
    </ul>
  </nav>
</div>
