<div class="form-cont">

  <header class="form-header">
    <div class="header-flex">
      <img src="assets/banner-imgs/cropped-ocoj.png" alt="">
      <div></div>
      <div class="form-title">
        <h3>Login Form</h3>
      </div>

    </div>

  </header>
  <form action="" name="loginForm" #login="ngForm" (ngSubmit)="login.form.valid && onSubmit(login)">

    <div class="form-ctrl">
      <label for="username" class="form-label">Username</label>
      <input type="text"
        class="form-ele input"
        name="username"
        [(ngModel)]="loginForm.username"
        #username="ngModel"
        required
        [ngClass]="{ 'error-input':username.invalid && (username.touched || login.submitted) } "
      >
      <span class="error">
        <div *ngIf="username.invalid && (username.touched || login.submitted)">
          <div *ngIf="username.errors?.['required']">Username is required</div>
        </div>
        <div *ngIf="userNotFound && !isChangedUsername()">Incorrect Username </div>
      </span>


    </div>

    <div class="form-ctrl">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-ele input"
        name="password"
        [(ngModel)]="loginForm.password"
        #password="ngModel"
        minlength="6"
        required
        [ngClass]="{'error-input': password.invalid && (password.touched || login.submitted)}"
      >

      <span class="error">
        <div *ngIf="password.invalid && (password.touched || login.submitted)" >
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>
        <div *ngIf="passwordIncorrect && !isChangedPassword()" > Incorrect Password </div>
      </span>


    </div>

    <div class="btn-cont">
      <button class="btn login" type="submit"> Login </button>
    </div>
  </form>

  </div>
