<div style="display: flex; width: 100%; justify-content: space-between; align-items: center; margin: 20px 0px;">
  <h2>Hey {{prayerRequest.name | titlecase}}</h2>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>

<div *ngIf="prayerRequest.commitedToPray != []">
  <h2>These users have commited to pray for you</h2>
  <p *ngFor="let commiter of prayerRequest.commitedToPray">{{commiter.username}}</p>
</div>

<div *ngIf="prayerRequest.commitedToPray == []">
  <h2> No users have commited to pray for you as yet.</h2>
</div>



