<div class="dialog-heading">
  <div>
  <h2 class="heading-text big">Hey {{prayerRequest.name | titlecase}}</h2>
  <hr class="undercut-2">
  </div>
  <button mat-stroked-button mat-dialog-close>Close</button>
</div>

<div class="spinner">
  <mat-spinner
  *ngIf="!prayerRequest"
  color="warn"
  diameter="50"
  strokeWidth="2.5"
  class="bar"
  ></mat-spinner>
  </div>

<div class="body" *ngIf="prayerRequest.commitedToPray[0] != undefined">

  <div>
  <h2 class="heading-text sml">These users have commited to pray for you</h2>
  <hr class="undercut-2">
  </div>


  <div class="btn-display">
    <div class="hover-trig" *ngFor="let commiter of prayerRequest.commitedToPray">
    <div class="committed-user">{{commiter.username | titlecase}}</div>
   </div>
  </div>

</div>

<div class="body" *ngIf="prayerRequest.commitedToPray[0] == undefined">
  <h2 class="heading-text sml">No users have commited to pray for you as yet.</h2>
  <hr class="undercut-2">

</div>



